*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/*ESTILOS PARA EL HEADER*/
.cont_header{
   /* background-color: brown;*/
    margin: auto;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cont_header nav {
   /* background-color: black;*/
    display: flex;
    align-items: center;
gap: 25px;

}

.cont_header h1{
 
    text-align: center;
}

.cont_header h1 img{
    width: 100px;
}


.cont_header nav a{
    text-decoration: none;
    color: white;
}


.favoritos{
    border-color: white;
    border-style: solid;
    border-radius: 2em;
    padding: 5px 10px;
    color: white;
    border-width: 2px;
}

header{
    background-color: #000040;

}

#fondo1{
    background-image: url(/imagenes/fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    height: 100%;
    padding-bottom: 100px;
}

.titulo{
   /* background-color: brown;*/
    color: white;
    margin: auto;
    width: 80%;
    font-size: 20px;
}

/*ESTILOS PARA LA GRILLA 1*/

.grilla1{
    margin: auto;
    width: 85%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

.baner img{
    transition: all 0.30s;
    width: 100%;
    border-radius: 10px;
    height: 100%;
  
}

.baner img:hover{
    transition: all 0.30s;
    transform: scale(1.08);
    cursor: pointer;
   
}


.card1{

    background-color: white;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    overflow: hidden;
}

.card1 img{
    transition: all 0.30s;
    width: 100%;
    border-radius: 10px;
}

.card1 img:hover{
    cursor: pointer;
    transition: all 0.30s;
    transform: scale(1.08);
}


.baner{
    position: relative;
   /* background-color: red;*/
    overflow: hidden;
}

.cont_hover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    padding-left: 20px;
    width: 100%;
    color: white;
  
}

.grilla2{
    margin: auto;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 20px;
}

.grilla1{
    margin-bottom: 30px;
    margin-top: 50px;
}


.card1{
    cursor: pointer;
}


.card1 h3{
    color: #30316E;
}





/*ESTILOS PARA EL FOOTER*/
footer{
    background-image: url(/imagenes/footer.jpg);
    padding: 1px;
    background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100%;
padding-bottom: 100px;
padding-top: 100px;
}

.cont1_footer{
  /*  background-color: brown;*/
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 70px;
}

.cont1_footer h1 img{
    width: 100px;
}

.col1,.col2,.col3,.col4{
    display: flex;
    flex-direction: column;
    color: white;
}


.cont1_footer a{
    color: white;
    text-decoration: none;
}



.cont2_footer{
    margin: auto;
    width: 70%;
   /* background-color: brown;*/
    display: flex;
    justify-content: space-between;
}

.cont2_footer  .col1{
   /* background-color: black;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.cont2_footer .col1 a{
font-size: 20px;
}

.cont2_footer .col2{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cont3_footer{
    margin: auto;
    width: 60%;
 /*   background-color: brown;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cont3_footer a{
    color: white;
    font-size: 17px;
    text-decoration: none;
}

.cont4_footer{
   text-align: center;
    margin: auto;
    width: 40%;
   /* background-color: brown;*/
    font-size: 13px;
    color: grey;
}


.i_menu{
    font-size: 25px;
    color: white;
    display: none;
}




/*ESTILOS PARA EL PRINCIPIO*/
#principio{
    background-color: #adadad8c;
    margin: -21px auto;
}

.cont_prin{
  /*  background-color: grey;*/
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_prin{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_prin a{
    text-decoration: none;
    color: black;
}


/*ESTILOS PARA LOS SPONSORS*/
#fondo_sponsors{
    padding: 20px 0;
}


.titulo_spon{
    margin: auto;
    width: 50%;
    text-align: center;
}


.cont_sponsors{
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.sponsor{
    text-align: center;
}

.sponsor img{
    width: 70px;
}
.cont_header nav a{
    transition: all 0.30s;  
}

.cont_header nav a:hover{
    transition: all 0.30s;
    color: #5AF7DC;
}

.favoritos{
    transition:  all 0.30s;    
}


.favoritos:hover{
    transition:  all 0.30s;
    background-color: white;
    color: #000040;
    font-weight: bold;
    cursor: pointer;
}



















/*ESTILOS PARA EL PRIMER MENU OCULTO*/




#fondo_oculto1{
    background-color: rgb(207, 207, 207);
   background-image: url(/imagenes/fondo_gris.webp);

   
   position: fixed;
    position: absolute;
    top: 0px;
    width: 100%;
   display: none;
    z-index: 996;
right: 0;
padding-bottom: 50px;
}

.titulo_oculto1{
   /* background-color: brown;*/
    text-align: center;
    margin: 80px auto;
    margin-bottom: 0;
}

.titulo_oculto1{
    margin: auto;
    width: 80%;
}
.titulo_oculto1 hr{
    border-color: black;
}


.titulo_oculto1 h2{
    font-weight: normal;
}

.cont_principal_oculto{
  /*  background-color: brown;*/
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items:baseline;
}

.col2_oculto{
  
}

.columna2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: top;
    gap: 20px;
}


.nav_col2 h2{
    font-size: 18px;
}

.nav_col2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav_col2 a{
    color: #414141;
    text-decoration: none;
}


.columnas_inside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.col_inside{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.col_inside a{
    text-decoration: none;
    color: #414141;
}


.cont_inside hr{
    border-color: black;
}

.redes_oculto{
  /*  background-color: brown;*/
    margin: auto;
    /*margin-top: 30px;*/
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: top;
   /* background-color: red;*/
    align-items: baseline;
}

.col_redes{
   font-size: 24px;
    display: flex;
    gap: 30px;
}


.col_redes a{
    color: black;
}


.linea2{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    border-color: black;
    border-width: 1px;
}

.cerrar{
    font-size: 30px;
    cursor: pointer;
    transition: all 0.30s;
}


.cerrar:hover{
    transition: all 0.30s;
    color: #009FE3;
}

.cont_cerrar{
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu1{
    font-size: 20px;
    cursor: pointer;
}


.col1_oculto h2{
  /*  background-color: brown;*/
font-weight: normal; 
}

.col1_oculto h2{
     transition: all 0.30s;
     cursor: pointer; 
}
.col1_oculto h2:hover{
     transition: all 0.30s;
    color: #009FE3;
}
.col2_redes h3{
      transition: all 0.30s;
      cursor: pointer;
}

.col2_redes h3:hover{
      transition: all 0.30s;
      color: #009FE3;
}

.col2_redes h3{
    font-weight: normal;
}

.col_redes a{
 transition: all 0.30s;
}


.col_redes a:hover{
       transition: all 0.30s;
      color: #009FE3;
}


.nav_col2 a, .col_inside a{
    transition: all 0.30s; 
}

.nav_col2 a:hover{
    transition: all 0.30s;
    color: #009FE3;
}
.col_inside a{
    transition: all 0.30s;
}

.col_inside a:hover{
    transition: all 0.30s;
    color: #009FE3;
}

.cont_prin{
 
       width: 90%;
   }
   #principio{
    background-image: url(/imagenes/fondo_gris.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
   }

   .cont_prin h1{
    font-size: 30px;
   }







   /*ESTILOS PARA EL MENU OCULTO*/

   .fondo_menu{
    transition: all 0.40s;
    position: fixed;
    width: 1%;
    right: 0;
    top: 0px;
    z-index: 995;
    opacity: 0;
   }

.trasladar{
    transition: all 0.40s;
    width: 100%;
    opacity: 1;
}


.contenedor_menu_oculto{
   background-color:#000040;
   height: 100vh;

}

.titulo_men_oc{
margin: auto;
width: 90%;
display: flex;
align-items: center;
justify-content: space-between;
}

.equis{
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.titulo_men_oc h3{
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}
.titulo_men_oc h3 img{
    width: 20px;
}


.opciones{
    background-color: white;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.opciones a{
    background-color:#000040;
    padding: 16px 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
















::-webkit-scrollbar {
  width: 10px;
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color:#004fe3;
}

/* Color de la barra de desplazamiento */
::-webkit-scrollbar-thumb { 
  background-color:#000040;
  border-radius: 2em;
}

/* Esquina redondeada de la barra de desplazamiento */
::-webkit-scrollbar-corner {
  background-color: black;
}

.cont_prin{
    width: 96%;
}












.cont_header nav .new{
    color:#000040!important;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2em;
    padding: 5px 10px;
    background-color: #5AF7DC;
}


.cont4_footer p a{
    color:#000040;
}













































@media (max-width:1124px){
.cont_principal_oculto{
    width: 90%;
    grid-template-columns: 1fr;
}

.col1_oculto{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
  
}

.nav_prin a:nth-child(-n+3){
    display: none;
}









    .cont_header{
        width: 95%;
    }

    .cont1_footer{
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
    }




    .cont2_footer{
    flex-direction: column;
    gap: 30px;
}

.cont2_footer .col1{
    justify-content: center;
}
.cont2_footer .col2{
    justify-content: center;
}

.cont3_footer{
    width: 70%;
}

.cont4_footer{
    width: 80%;
}

.cont1_footer{
    text-align: center;
}

.cont_header  nav a:nth-last-child(-n+3) {
    /* Agrega tus estilos aquí */
 display: none;
  }




.cont_sponsors{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}


}












































































@media (max-width: 900px){
.cont_principal_oculto{
    width: 90%;
}

.col1_oculto{
    display: grid;
    grid-template-columns: 1fr;
}

.columna2{
    display: grid;
    grid-template-columns: 1fr;
}

.columnas_inside{
    display: grid;
    grid-template-columns: 1fr;
}

.redes_oculto{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.col_redes{
    justify-content: center;
}









.i_menu{
    display: initial;
    cursor: pointer;
}


.cont1_footer{
    grid-template-columns: 1fr 1fr 1fr;
}


.cont3_footer{
    width: 95%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   text-align: center;
}
.cont4_footer p span{
    display: none;
}

.cont1_footer{
    grid-template-columns: 1fr 1fr ;
    text-align: center;
}

.cont_header  nav a:nth-last-child(-n+5) {
    /* Agrega tus estilos aquí */
 display: none;
  }

  .favoritos{
    display: none;
  }


.grilla1{
    grid-template-columns: 1fr;
   /* background-color: brown;*/
}
.grilla2{
    grid-template-columns: 1fr;
}

.nav_prin a:nth-child(-n+5){
    display: none;
}



.cont_sponsors{
    grid-template-columns: 1fr 1fr;
}

.nav_col2{
    gap: 15px;
}


.titulo_men_oc{
    padding-top: 46px;
}



}





@media (max-width: 400px){
   
.login{
    display: none;
}

.titulo_men_oc{
    padding: 0;
}

}












































































@media(max-width:500px){
    .cont_header nav{
        display: none;
    }

    .cont_prin {
        width: 99%;
        padding: 10px 0;
    }

.cont_prin h1{
    font-size: 25px;
}


}